<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] : %-5level : %msg %n" />
        </Console>
        <RollingFile name="Rollingfile" filename="C:/logs/${date:yyyyMM}/${date:dd}/${date:yyyy-MM-dd_HH}.log" filePattern="./logs/%d{yyyyMM}/%d{dd}/%d{yyyy-MM-dd_HH}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] : %-5level : %msg%n" />
			<Policies>
			  <SizebasedTriggeringPolicy />
			</Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="console" />
            <AppenderRef ref="Rollingfile" />
        </Root>
        <logger name="ConsoleLog" level="TRACE" additivity="false" >
          <AppenderRef ref="console" />
        </logger>
        <logger name="FileLog" level="TRACE" additivity="false" >
          <AppenderRef ref="Rollingfile" />
        </logger>
        <logger name="AllLog" level="TRACE" additivity="false" >
          <AppenderRef ref="console" />
          <AppenderRef ref="Rollingfile" />
        </logger>
    </Loggers>
</Configuration>


